*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }
 body{
	min-height: 100vh;
	display: flex; 
    justify-content: center;
	align-items: center;
	background-color: #ddd;
	font-family: 'Poppins', sans-serif;
}
.card{
	width: 320px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 20px 25px rgba(97, 161, 221,0.2);
	text-align: center;
}
.card-header{
	padding: 35px 0;
	background-image: linear-gradient(60deg,#5da3e6,#053563);
}
.card-header img{
	width: 120px; height: 120px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.card-body{
	color: #565656;
	padding:35px;
}
.card-body h2{
	text-transform: capitalize;
    font-size: 24px;
}

.card-body .username{
	font-size: 12px;
    color: #9E9E9E;
}
.card-body .social-media{
	display: flex;
	justify-content: center;
	margin: 25px 0;
}
.card-body .social-media a{
	text-decoration: none;
	color: #565656;
	transition: all 0.3s;
	font-size: 30px;
}
.card-body .social-media a:hover{
	color: #4f97db;
}	
.card-body .social-media a:not(:last-child){
	margin-right: 28px;
}
.card-body .about{ 
    margin-bottom: 30px;
}
.card-body .btn{
	display: inline-block;
	text-decoration: none;
	padding: 16px 48px;
	background-image: linear-gradient(60deg,#5da3e6,#053563);
	color: #fff;
	border-radius: 100px;
	margin-bottom: 10px;
	transition: all 0.3s;
}

.card-body .btn:hover{
    opacity: 0.9;
}